<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ProductStoreSuite">
  <test thread-count="5" name="ProductStorePageTest">
    <classes>
      <class name="runner.ProductStorePageRunner"/>
    </classes>
  </test> <!-- ProductStorePageTest -->
</suite> <!-- ProductStoreSuite -->
